{% assign settings = site.data.settings %}
{% assign au_office = settings.offices['aus'][0] %}
{% assign bg_image = include.bg_image | default: '' %}
{% assign parallax_enabled = include.parallax_enabled | default: false %}
{% assign practice_areas = site.data.sitemap['Practice Areas'].children %}

<!-- PRACTICE AREAS SECTION -->
<section
	class="section section-practice-areas is-light is-primary"
	style="background-image: url({{ bg_image }})">

	{% if parallax_enabled %}
		<!-- PARALLAX (OPTIONAL) -->
		{% include components/hero/hero__parallax_plugin.html image=bg_image %}
	{% endif %}

	<div class="container">
		<div class="row h-100">
			<div class="col-md-5">
				<div class="row">
					<div class="col-md-9 pr-md-5">

						<!-- HEADER -->
						<h2 class="float-md-right text-uppercase text-body mb-4">
							Practice <span class="d-md-block font-weight-normal">Areas</span>
						</h2>

					</div>
				</div>
			</div>
			<div class="col-md-8 col-lg-7 col-xl-7">

				<!-- BG FILL -->
				<div class="bg-fill is-white ml-4"></div>

				<!-- PRACTICE AREAS -->
				<ul class="list-squares block-grid-xs-1 block-grid-md-2">
					{% for item in practice_areas %}
						<li>
			                <a class="" href="/practice-areas/personal-injury/">
			                    <h3 class="h4 font-weight-normal text-uppercase text-body mb-0">
			                    	{{ item[0] }}
			                    </h3>
			                </a>
						</li>
					{% endfor %}
				</ul>

			</div>
		</div>
	</div>
</section>