/*
    FOOTER.CSS

    - Last updated: 19.01.19
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// FOOTER
//-----------------------------------------------------------------

.global-footer {
	position: relative; // [LOCKED] - for bg fill
	// background: $secondary linear-gradient(-180deg, darken($secondary, 5%) -90%, $secondary 100%);
	background: #fafafa;
	// color: white;
	z-index: 1; // [LOCKED] - for bg fill

	@include media-breakpoint-up(md) {
	    // background: $primary linear-gradient(-180deg, darken($primary, 4%) -90%, $primary 100%);
	}

	a {
		font-weight: $font-weight-normal;
		color: $body-color; // 333232 // [THEMEABLE]

		&:hover {
			opacity: 0.85;
		}
	}
}

//-----------------------------------------------------------------
// FOOTER BOTTOM
//-----------------------------------------------------------------

.global-footer-bottom {
	position: relative; // for bg fill
	padding: rem-calc(52 0);
	font-size: rem-calc(15);
	color: rgba(white, 0.4);

	a {
		display: inline-flex;
		align-items: center;
		// font-weight: 700;

		.fa-angle-up,
		.fa-angle-down {
			font-size: rem-calc(20);
			transition: transform 400ms ease;

			&.is-active { // arrow on sitemap
				transform: rotate(180deg);
			}
		}
	}

	.legal-text {
		font-size: rem-calc(14);
	}

	.author-logo {
		display: inline-block; // [LOCKED] - aligns icon
		font-size: rem-calc(11);
		font-weight: 400;

		img {
			opacity: 0.5;
		}

		.text {
			opacity: 0.3;
		}
	}

	//=========================================
	// BLEED TO BOTTOM [LOCKED]
	//=========================================

	// &:after {
	// 	content: "";
	// 	position: fixed;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	background: inherit;
	// 	z-index: -1;
	// }
}

//-----------------------------------------------------------------
// FOOTER SITEMAP
//-----------------------------------------------------------------

.global-footer-sitemap {
	background: darken(#fafafa, 10%);
	padding: $spacer*2 0;
	transition: height ease 300ms, padding ease 300ms;

	h1, h2, h3, h4, h5, h6 {
		color: $primary;
	}

	a {
		// color: rgba(white, 0.5);

		&:hover {
			color: white;
		}
	}

	// &.is-collapsed {
	// 	padding: 0;
	// 	height: 0;
	// 	overflow: hidden;
	// 	transition: padding ease 300ms;
	// }
}

//=========================================
//
//=========================================