/*
    BREADCRUMBS.CSS

    - Last updated: 16.06.19
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// BREADCRUMBS
//-----------------------------------------------------------------

.lv-breadcrumb-wrapper {

    > .container {
        padding: 0;
    }

    .breadcrumb {
        padding: 0;
    }

    .breadcrumb-item {
        display: flex;
        align-items: center;
        text-transform: uppercase;
    	font-size: rem-calc(15);
    	font-weight: 700;
    	color: rgba(white, 0.7);

    	&:hover {
    		opacity: 0.8;
    	}
    }
}

//=========================================
//
//=========================================
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------