---
layout: base
---

{% assign level_1 = page.subpage_path[0] %}
{% assign subpages = site.data.sitemap[level_1].children %}

<!-- MAIN BODY -->
<main class="main-body">
	<div class="container">
	    <div class="row">
	        <div class="col-lg-8">
	        	{{ content }}
	        </div>
	        <div class="col-lg-4">
				<aside class="sidebar ml-auto" style="max-width: 390px">

					<!-- SIDE NAV  -->
					<section class="section">
						<div class="side-nav mb-4">
							{% include components/navigation/nav.html data=subpages %}
						</div>
					</section>

					{% contentblock sidebar no-convert %}
				</aside>
	        </div>
	    </div>
	</div>

	{% contentblock content_additional no-convert %}
</main>