---
layout: base__page
---

{% contentfor hero_caption %}

	<div class="row justify-content-center">
		<div class="col-md-8">

			<!-- HEADING -->
			<h1 class="display-1 text-white text-uppercase mb-4">
				{{ page.title }}
			</h1>

			<!-- LEAD -->
			<p class="display-3 mb-4 pb-1">
				{{ page.lead }}
			</p>

			<!-- WYSIWYG -->
			<div class="wysiwyg h4 font-weight-normal">
				{{ content }}
			</div>

			<!-- SPACER -->
			<div class="spacer my-3"></div>

		</div>
	</div>

{% endcontentfor %}

{% include sections/section_contact_centered.html %}