---
layout: base__page
---

{% contentfor hero_caption %}

	<div class="text-center">

		<!-- HEADING -->
		<h1 class="display-1 text-white text-uppercase mb-4">
			{{ page.title }}
		</h1>

		<!-- LEAD -->
		<p class="display-3 mb-4 pb-1">
			{{ page.lead }}
		</p>

		<!-- WYSIWYG -->
		<div class="wysiwyg h4 font-weight-normal mb-4">
			{{ content }}
		</div>

		<!-- SPACERS -->
		<div class="spacer my-5 my-xl-3"></div>
		<div class="spacer py-5 my-5 py-xxl-0 my-md-0"></div>

	</div>

{% endcontentfor %}

{% include sections/section_contact_centered.html %}