---
layout: base__page
---

{% assign settings = site.data.settings %}

<!-- SECTION -->
<section class="section">
    <div class="container">

        <!-- HEADING -->
        <h2 class="h3 text-uppercase text-dark mb-md-4">
            Our South Australia Offices
        </h2>

        <!-- OFFICES -->
        <ul class="block-grid-xs-1 block-grid-md-2 block-grid-lg-3">
            {% for item in settings.offices['sa'] %}
                <li>
                    {% include components/content/contact_box.html %}
                </li>
            {% endfor %}
        </ul>

    </div>
</section>

{% include sections/section_contact.html %}

{% comment %}
{% include components/widgets/google_map.html address="site.data.settings.offices.qld[0].address" %}
{% endcomment %}