---
layout: base__page
---

<!-- SECTION -->
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col text-center text-md-right">

				<!-- TABS -->
				<nav class="btn-tabs nav mb-4 d-inline-flex align-items-center mb-4 mb-md-0" role="tablist">

					<!-- VIEW BY -->
					<span class="mr-3">View by:</span>

					<!-- POSITION -->
					<a href="#view-mode-1" class="btn-tab active" data-toggle="tab" role="tab">
						Position
					</a>

					<!-- ALPHABETICAL LIST -->
					<a href="#view-mode-2" class="btn-tab" data-toggle="tab" role="tab">
						Surname (A-Z)
					</a>

				</nav>
			</div>
		</div>

		{% capture view_mode_1 %}
			{% for item in site.data.staff_by_group %}

				<!-- GROUP HEADER -->
				<h2 class="mb-2">
					{{ item[0] }}
				</h2>

				<!-- DIVIDER -->
				<hr class="mb-5">

				<!-- PEOPLE -->
				<ul class="block-grid-xs-2 block-grid-lg-4 block-grid-xl-5 is-condensed mb-5">
					{% for item in item[1] %}
						<li>
							<!-- CARD -->
							<div class="card is-flat wow fadeIn">

								<!-- IMAGE -->
								<a class="btn-tile" href="{{ item.url }}">
									<img width="100%" class="card-img-top" src="/assets/img/ui/no-face.png" alt="{{ item.name }}">
									<span class="btn-tile-bg" style="background-image: url({{ item.image }}); background-position: top center;"></span>
								</a>

								<!-- CARD BODY -->
								<div class="card-body d-flex flex-column">

									<!-- TITLE -->
									<a href="{{ item.url }}">
										<h3 class="h5 text-body text-uppercase card-title mb-4">
											{{ item.name }}
										</h3>
									</a>

								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
			{% endfor %}
		{% endcapture %}

		{% capture view_mode_2 %}

			<!-- GROUP HEADER -->
			<h2 class="mb-2">
				People by Surname
			</h2>

			<!-- DIVIDER -->
			<hr class="mb-5">

			<!-- PEOPLE -->
			<ul class="block-grid-xs-2 block-grid-lg-4 block-grid-xl-5 is-condensed mb-5">
				{% for item in site.data.staff %}
					<li>
						<!-- CARD -->
						<div class="card is-flat wow fadeIn">

							<!-- IMAGE -->
							<a class="btn-tile" href="{{ item.url }}">
								<img width="100%" class="card-img-top" src="/assets/img/ui/no-face.png" alt="{{ item.name }}">
								<span class="btn-tile-bg" style="background-image: url({{ item.image }}); background-position: top center;"></span>
							</a>

							<!-- CARD BODY -->
							<div class="card-body d-flex flex-column">

								<!-- TITLE -->
								<a href="{{ item.url }}">
									<h3 class="h5 text-uppercase card-title mb-1">
										{{ item.name }}
									</h3>
								</a>

								<!-- POSITION -->
								<p class="text-muted h6 font-weight-normal mb-2">
									{{ item.position }}
								</p>

							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		{% endcapture %}

		<!-- TAB CONTENT -->
		<div class="tab-content mb-4">

			<!-- VIEW MODE #1 -->
			<div id="view-mode-1" class="tab-pane fadeX active show" role="tabpanel">
				{{ view_mode_1 }}
			</div>

			<!-- VIEW MODE #2 -->
			<div id="view-mode-2" class="tab-pane fadeX" role="tabpanel">
				{{ view_mode_2 }}
			</div>

		</div>
	</div>
</section>