---
layout: base__page_sidebar_8x4_nav
---

{% assign people = site.data.staff %}
{% assign accordion = page.accordion %}

<!-- SECTION -->
<section class="section">

	<!-- IMAGE -->
	<p class="img-right">
	    <img style="max-width: 400px" src="/assets/img/content/blog-thumbs/thumb-1.jpg" alt="...">
	</p>

	<!-- WYSIWYG -->
	<div class="wysiwyg mb-5">
		{{ content | markdownify }}
	</div>

	<hr class="mb-4 pb-1">

	<!-- ACCORDION STARTS HERE -->
	<h3 class="mb-4">
		Accordion Component
	</h3>

	<!-- 1/2. ACCORDION CONTENTS NAV -->
	<nav class="mb-5">
		{% for item in accordion %}

			<!-- CONTENTS ANCHOR -->
			<div id="contents-{{ item.title | slugify }}">
				<a href="#{{ item.title | slugify }}" class="btn btn-hero btn-block btn-hero btn-accordion">
					<span>{{ item.title }}</span>
					<i class="fa fa-angle-down"></i>
				</a>
			</div>
		{% endfor %}
	</nav>

	<!-- 2/2. ACCORDION CONTENTS -->
	{% for item in accordion %}
		<section id="{{ item.title | slugify }}" class="wysiwyg mb-1 pb-1">

			<!-- HEADING -->
			<h2 class="d-flex mb-3">
				<span>{{ item.title }}</span>

				<!-- BACK UP -->
				<a href="#contents-{{ item.title | slugify }}" class="btn-up ml-auto">
					<i class="fa fa-angle-up"></i>
				</a>
			</h2>

			<!-- BODY -->
			{{ item.body | markdownify }}
		</section>
	{% endfor %}

	<hr class="mb-4 pb-1">

	<!-- HEADING -->
	<h4 class="mb-4 pb-1">
		Our {{ page.title }} Team
	</h4>

	<!-- PEOPLE -->
	<ul class="block-grid-xs-1 block-grid-md-3 block-grid-lg-2 block-grid-xxl-3 is-condensed-more">
		{% for item in people %}
			<li>
				{% include components/media/media_btn.html %}
			</li>
		{% endfor %}
	</ul>

</section>

{% comment %}
{% contentfor sidebar %}
	<!-- SECTION -->
	<section class="section">

		<!-- SIDE NAV -->
		<nav class="side-nav">
			<ul class="list-unstyled">
				<!-- <li class="side-nav-header active">
					<div class="anchor">
						<i class="fa fa-align-left"></i>
						<span class="text">In this section</span>
					</div>
				</li> -->
				{% for item in nav_items %}
					<li>
						<a href="{{ item.url }}">
							<span class="text">{{ item.title }}</span>
							<i class="fa fa-angle-right"></i>
						</a>
					</li>
				{% endfor %}
			</ul>
		</nav>
	</section>
{% endcontentfor %}
{% endcomment %}

{% contentfor content_additional %}
	<!-- BLOG POSTS -->
	<section class="section is-secondary">
		<div class="container">
			<h2 class="text-white text-uppercase text-center mb-5">Blog Posts - Personal Compensation Law</h2>
			{% include components/cards/cards.html flat="true" columns=4 %}
			<p class="text-center mb-0">
				<a href="#" class="btn btn-primary">More Blog Articles &nbsp;<i class="fa fa-angle-right"></i></a>
			</p>
		</div>
	</section>

	{% include sections/section_contact.html %}
{% endcontentfor %}